<div class = "container">
  <h2 class = "row my-3">ユーザ編集</h2>

  <div class="row">
    <div class="col-lg-6"></div>
    <div class="col-lg-6 border-left">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field form-group">
          <%= f.label :name, "ユーザ名" %> <br />
          <%= f.text_field :name, class: "form-control", autocomplete: "name", autofocus: true, maxlength: "60" %>
        </div>

        <div class="field form-group">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, class: "form-control", autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field form-group">
          <%= f.label :password, "変更後のパスワード" %> <br />
          <%= f.password_field :password, class: "form-control", placeholder: "変更しない場合は空欄で送信してください", autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            
            <em><%= @minimum_password_length %> 文字以上 32文字以内 </em>
          <% end %>
        </div>

        <div class="field form-group">
          <%= f.label :password_confirmation, "変更パスワード確認" %><br />
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
        </div>

        <div class="field form-group">
          <%= f.label :current_password, "現在のパスワード" %> <i>(必須)</i><br />
          <%= f.password_field :current_password, class: "form-control", autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Update", class: "btn btn-primary btn-lg btn-block" %>
        </div>
      <% end %>


      <p class = "mt-4">または <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: "btn btn-light", method: :delete %></p>

      <%= link_to "Back", :back %>
    </div>
  </div>
</div>

